

#jeu {
  display: none;
}
#selection-mode-jeu{
    display: none;
}

#nombre-de-manche{
    display: none;
}

#nombre-seconde{
    display: none;
}

#role{
    display: none;
}

#nom{
    display: none;
}